html, body, div#root, .shop-account {
    height: 100%;
}

body {
    background-color: white;
    margin: 0;
}

.shop-account, .page-not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.shop-account-content{
    flex: 1 0 auto;
    background: #f5f7fa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 5% 0 5%;
    color: #414b4d;
    font-size: 18px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    max-width: 992px;
    width: 100%;
    box-sizing: border-box;
}

.insales-statuses {
    display: flex;
    flex-direction: column;
}

.webhook-install-status, .application-charge-status {
    margin-left: 5%;
    line-height: 36px;
}

.application-charge-status-label, .webhook-install-status-label {
    white-space: nowrap;
}

.application-charge-status-value, .webhook-install-status-value {
    color: #828282;
    white-space: nowrap;
}

h2 {
    font-size: 44px;
    text-transform: uppercase;
    line-height: 45px;
    font-weight: 500;
    margin: 10px 0 10px 0;
}

.shop-account-header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 18px;
    font-size: 18px;
    font-family: 'Exo 2', sans-serif;
    flex-flow: row wrap;
    box-shadow: 0 10px 10px -10px rgba(0,0,0,0.5);
    flex: 0 0 auto;
}

.page-not-found-message {
    flex: 1 0 auto;
    justify-items: center;
    align-items: center;
    display: flex;
}

.button-back-to-insales {
    border: 1px solid #08bf32;
    color: #08bf32;
    font-weight: 300;
    cursor: pointer;
    padding: 4px 30px;
    border-radius: 40px;
    white-space: nowrap;
}

.button-back-to-insales:hover {
    box-shadow: 0 0 0 50px rgba(0, 0, 0, 0.1) inset;
}

.logo {
    min-width: 150px;
}

a.support-email {
    text-decoration: none;
    margin: 0 5px 18px 5px;
}

span.support-email {
    font-family: 'Exo 2', sans-serif;
    color: #414b4d;
    font-size: 19px;
    font-weight: 300;
}

.header-block {
    margin-bottom: 18px;
}

.button-error-report {
    border: 1px solid #414b4d;
    color: #414b4d;
    padding: 4px 30px;
    border-radius: 40px;
    white-space: nowrap;
    cursor: pointer;
}

.button-error-report:hover {
    box-shadow: 0 0 0 50px rgba(0, 0, 0, 0.1) inset;
}

.right-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}

.shop-account-footer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 20px;
    background: #414b4d;
    flex: 0 0 auto;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}

a.footer-email {
    text-decoration: none;
}

.footer-email, .footer-developer-name {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Exo 2', sans-serif;
    color: #a6a6a6;
}

input, select {
    border: none;
    border-bottom: 1px solid #a6a6a6;
    background-color: transparent;
    width: 100%;
    font-size: 18px;
    padding-left: 10px;
    color: #414b4d;
    font-weight: 300;
    margin-left: 9px;
    max-width: 400px;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius:0;
    cursor: text;
}

input:focus, select:focus {
    outline: 0;
    background: #ebedf0;
}

.flex {
    display: flex;
}

.flex label {
    white-space: nowrap;
    font-size: 18px;
    margin-left: 5%;
    line-height: 36px;
}

#login {
    margin-left: 20px;
}

#baseUrl{
    margin-left: 16px;
}

.message-megaplan-authorization {
    margin-left: 10%;
    margin-top: 5px;
    font-size: 14px;
    color: #414b4d;
    font-style: italic;
}

.stable-height {
    min-height: 1rem;
}

.update-authorization-data {
    border: 0;
    padding: 4px 30px;
    border-radius: 50px;
    background: rgb(8, 191, 50);
    color: #fff;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 300;
    font-size: 18px;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 30px;
}

.update-authorization-data:hover {
    background: rgba(8, 155, 43, 0.9);
}

.update-authorization-data:focus {
    outline: 0;
}

.update-authorization-data:active {
    padding-top: 5px;
    padding-bottom: 3px;
    background: rgba(8, 130, 38, 0.95);
}

.page-not-found-message h2 {
    color: #414b4d;
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    text-align: center;
}